{% extends 'base.html.twig' %}

{% block title %}User | RoyalAPP{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User List</h3>
                        <a href="{{ path('user_new') }}" class="btn btn-primary btn-sm" style="float: right">
                            <i class="fa fa-plus"></i>
                            add new user
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Name Surname</th>
                                <th>Email</th>
                                <th>Mobile Phone</th>
                                <th>Title</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set no = 1 %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ no }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.mobilePhone }}</td>
                                    <td>{{ user.title }}</td>
                                    <td><a href="{{ path('user_update', { 'id': user.id }) }}" class="btn btn-success">Update</a></td>
                                </tr>
                                {% set no = 1 + no %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
{% endblock %}
